sudo: false
language: node_js
node_js:
  - "8"
  - "7"
  - "6"
cache:
  directories:
    - node_modules
branches:
  only:
    - master
before_script:
  - npm prune
script:
  - npm test
  - npm run check-coverage
after_success:
  - ./node_modules/.bin/coveralls < .nyc_output/lcov.info
