sudo: false
language: node_js
node_js:
  - "16"
cache:
  yarn: true
  directories:
    - node_modules
before_script:
  - yarn
script:
  - yarn test
after_success:
  - ./node_modules/.bin/coveralls < coverage/lcov.info
